body{
    padding: 0;
    margin: 0;
}

.navbg{
    background-color: #C77890;
    height: 1200px;
}

.navtext{
    font-size: 40px;
    text-align: center;
}

.ellips1{
    position: absolute;
    width: 89px;
    height: 83px;
    left: 450px;
    top: 169px;
    background: #E39CA1;
    border-radius: 50%;
}
.ellips2{
    position: absolute;
    width: 89px;
    height: 83px;
    left: 580px;
    top: 169px;
    background: #E39CA1;
    border-radius: 50%;
}
.ellips3{
    position: absolute;
    width: 89px;
    height: 83px;
    left: 700px;
    top: 169px;
    background: #E39CA1;
    border-radius: 50%;
}

.ellips1 img{
    position: absolute;
    width: 56.17px;
    height: 40px;
    left: 20px;
    top: 20px;
}

.navimg img{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 129px;
    top: 343px;
    border-radius: 10%;
}
.table{
    position: absolute;
    width: 183px;
    height: 200px;
    left: 891px;
    top: 404px;
    background-color: rgb(182, 171, 171);
    border-radius: 3%;
}

.navtext1{
    position: absolute;
    width: 226px;
    height: 58px;
    left: 129px;
    top: 716px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */


    color: #FFFFFF;
}

.button{
    position: absolute;
    width: 584px;
    height: 92px;
    left: 434px;
    top: 921px;
}

button{
    width: 50%;
    height: 50%;
}
.button1{
    position: absolute;
    width: 584px;
    height: 92px;
    left: 434px;
    top: 1000px;
}

.bgfooter2{
    position: absolute;
    width: 1440px;
    height: 331px;

    background: #E39C9C;
}

.icon1{
    position: absolute;
    width: 62px;
    height: 50px;
    bottom: 75%;
    left: 40px;
}
.icon2{
    position: absolute;
    width: 55px;
    height: -80px;
    bottom: 73%;
    left: 100px;
}
.icon3{
    position: absolute;
    width: 62px;
    height: -100px;
    bottom: 74%;
    left: 165px;
}

.endfooter{
    position: absolute;
    width: 172px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    right: 17%;
    top: 30%;
}

.footer{
    width: 1442px;
    height: 71px;
    background:  #A9132E;
    position: relative;
    top: 270px;
    
}
